<div id="container">
  <br><br>
  <h1 style="width:100%; direction: rtl; text-align:center;">מסעדת Beer-Garden</h1>
  <div id="payment-container">
    <button id="payment-button" type="button" class="btn btn-success"
            (click)="redirectToBill()">הזמן חשבון</button>
  </div>


  <!--<div id="waiter-container">-->
    <!--<button id="waiter-button" type="button" class="btn btn-success">קרא למלצר</button>-->
  <!--</div>-->


  <!--<div id="menu-container">-->
    <!--<button id="menu-button" type="button" class="btn btn-success">תפריט</button>-->
  <!--</div>-->

</div>
