<div style="text-align:center">
  <br><br>
</div>
<table id="customers">
  <tr>
    <th *ngFor="let header of headers">{{ header }}</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.name }}</td>
    <td>{{ product.items }}</td>
    <td>{{ product.price }}</td>
    <td>{{ getTotalForItem(product.items, product.price) }}</td>
  </tr>
</table>
<br>
<h6 style="margin:0 auto; text-align: center;">Tip</h6>
<br>
<div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 350px;">
  <button type="button" class="btn btn-secondary" (click)="setTip(tips[0])">{{ tips[0] }}%</button>
  <button type="button" class="btn btn-secondary" (click)="setTip(tips[1])">{{ tips[1] }}%</button>
  <button type="button" class="btn btn-secondary" (click)="setTip(tips[2])">{{ tips[2] }}%</button>
</div>

<br><br>
<div style="margin: 0 auto; text-align:center;">
  <h6>סך הכל לתשלום:  {{ total }} </h6>

</div>
<br>
<div id="payment-container">
  <button id="payment-button" type="button" class="btn btn-success" (click)="redirectToPayment()">לתשלום</button>
</div>
