<div id="container">
  <br><br>
  <h1 style="width:100%; direction: rtl; text-align:center;">בחר אמצעי תשלום</h1>
  <div class="row">
    <div class="col-md">
      <button id="credit" type="button" class="btn btn-success"
      (click)="redirectToCreditPayment()">אשראי</button>
    </div>
    <div class="col-md">
      <button id="colu" type="button" class="btn btn-success">Colu</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <button id="pepper" type="button" class="btn btn-success">Pepper</button>
    </div>
    <div class="col-md">
      <button id="bit" type="button" class="btn btn-success">Bit</button>
    </div>
  </div>


  <!--<div id="waiter-container">-->
  <!--<button id="waiter-button" type="button" class="btn btn-success">קרא למלצר</button>-->
  <!--</div>-->


  <!--<div id="menu-container">-->
  <!--<button id="menu-button" type="button" class="btn btn-success">תפריט</button>-->
  <!--</div>-->

</div>
